:root {
    --accent-color: #5b73ff;
    --primary-color: #7c8fff;

    --sidebar-color: #0d1641;

    --roomlist-background-color: #151c44;
    --roomlist-text-color: #ffffff;
    --roomlist-text-secondary-color: #b7c0e0;
    --roomlist-highlights-color: #20295f;
    --roomlist-separator-color: #334155;

    --timeline-background-color: #0f172a;
    --timeline-text-color: #f8fafc;
    --timeline-text-secondary-color: #cbd5e1;
    --timeline-highlights-color: #1e293b;

    --warning-color: #ef4444;

    --private-color: #5b73ff;
    --forum-color: #5b73ff;
}